In [259]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [260]:
date = "D:/kaggle_date/美国大学生篮球比赛/march-machine-learning-mania-2024/"

#### 整理出每只队伍的胜率

In [261]:
#### 
df_seeds = pd.concat([
    pd.read_csv(date + "MNCAATourneySeeds.csv"),
    pd.read_csv(date + "WNCAATourneySeeds.csv"),
], ignore_index=True)
df_seeds_2023 = df_seeds[df_seeds['Season'] == 2023]
# df_seeds_2023

In [262]:
df_season_results = pd.concat([
    pd.read_csv(date + "MRegularSeasonCompactResults.csv"),
    pd.read_csv(date + "WRegularSeasonCompactResults.csv"),
], ignore_index=True)
df_season_results.drop(['NumOT', 'WLoc'], axis=1, inplace=True)

df_season_results["score"] = df_season_results["WScore"] - df_season_results["LScore"]

In [263]:
df_season_results

        Season  DayNum  WTeamID  WScore  LTeamID  LScore  score
0         1985      20     1228      81     1328      64     17
1         1985      25     1106      77     1354      70      7
2         1985      25     1112      63     1223      56      7
3         1985      25     1165      70     1432      54     16
4         1985      25     1192      86     1447      74     12
...        ...     ...      ...     ...      ...     ...    ...
316095    2024     100     3409      74     3427      70      4
316096    2024     100     3424      67     3161      64      3
316097    2024     100     3444      65     3296      47     18
316098    2024     100     3457      54     3347      51      3
316099    2024     100     3464      72     3460      52     20

[316100 rows x 7 columns]

In [264]:
df_win = df_season_results.groupby(["Season","WTeamID"]).count().reset_index()[["Season","WTeamID","DayNum"]].rename(columns={"WTeamID":"TeamID","DayNum":"numwin"})
df_loss = df_season_results.groupby(["Season","LTeamID"]).count().reset_index()[["Season","LTeamID","DayNum"]].rename(columns={"LTeamID":"TeamID","DayNum":"numloss"})

In [265]:
###计算平均获胜得分
gap_win = df_season_results.groupby(['Season', 'WTeamID']).mean().reset_index()
gap_win = gap_win[['Season', 'WTeamID', 'score']].rename(columns={"score": "gapWin", "WTeamID": "TeamID"})
###计算平均失败得分
gap_loss = df_season_results.groupby(['Season', 'LTeamID']).mean().reset_index()
gap_loss = gap_loss[['Season', 'LTeamID', 'score']].rename(columns={"score": "gaploss", "LTeamID": "TeamID"})

In [266]:
### 获胜队伍和失败队伍
df_features_season_w = df_season_results.groupby(['Season', 'WTeamID']).count().reset_index()[['Season', 'WTeamID']].rename(columns={"WTeamID": "TeamID"})
df_features_season_l = df_season_results.groupby(['Season', 'LTeamID']).count().reset_index()[['Season', 'LTeamID']].rename(columns={"LTeamID": "TeamID"})
df_features_season = pd.concat([df_features_season_w, df_features_season_l], axis=0).drop_duplicates().sort_values(['Season', 'TeamID']).reset_index(drop=True)##合并并删除重复行和重复索引

In [267]:
df_features_season = df_features_season.merge(df_win, on=['Season', 'TeamID'], how='left')
df_features_season = df_features_season.merge(df_loss, on=['Season', 'TeamID'], how='left')
df_features_season = df_features_season.merge(gap_win, on=['Season', 'TeamID'], how='left')
df_features_season = df_features_season.merge(gap_loss, on=['Season', 'TeamID'], how='left')
df_features_season.fillna(0, inplace=True)

In [268]:
df_features_season["p_win"] = df_features_season["numwin"]/(df_features_season["numloss"]+df_features_season["numwin"])

In [269]:
df_features_season["avggap"] = (df_features_season["gapWin"]*df_features_season["numwin"]- df_features_season["gaploss"]*df_features_season["numloss"])/(df_features_season["numloss"]+df_features_season["numwin"])

In [270]:
df_features_season.drop(["numwin","numloss","gapWin","gaploss"],axis=1,inplace=True)

In [271]:
# 比赛胜率
df_features_season###每一年的比赛胜率和得分

       Season  TeamID     p_win     avggap
0        1985    1102  0.208333  -5.791667
1        1985    1103  0.391304  -3.043478
2        1985    1104  0.700000   7.800000
3        1985    1106  0.416667  -3.791667
4        1985    1108  0.760000   7.960000
...       ...     ...       ...        ...
22145    2024    3474  0.142857 -13.952381
22146    2024    3475  0.700000   3.150000
22147    2024    3476  0.130435 -17.695652
22148    2024    3477  0.450000  -7.600000
22149    2024    3478  0.434783  -8.956522

[22150 rows x 4 columns]

#### 球员实力

In [272]:
Result_m = pd.read_csv(date + "MNCAATourneyDetailedResults.csv")

In [273]:
Result_m.iloc[:,0]

0       2003
1       2003
2       2003
3       2003
4       2003
        ...
1310    2023
1311    2023
1312    2023
1313    2023
1314    2023
Name: Season, Length: 1315, dtype: int64

In [274]:
win_team =  pd.concat([Result_m.iloc[:,0],Result_m.iloc[:,2:4],Result_m.iloc[:,21:]],axis=1)
loss_team =  pd.concat([Result_m.iloc[:,0],Result_m.iloc[:,4:6],Result_m.iloc[:,8:21]],axis=1)

In [275]:
win_num = win_team.groupby(["Season","WTeamID"]).count().reset_index()["WScore"]
loss_num = loss_team.groupby(["Season","LTeamID"]).count().reset_index()["LScore"]

In [276]:
win_result = win_team.groupby(["Season","WTeamID"]).mean().reset_index().rename(columns={"WTeamID":"TeamID"})
loss_result = loss_team.groupby(["Season","LTeamID"]).mean().reset_index().rename(columns={"LTeamID":"TeamID"})
result = win_result.merge(loss_result, on=['Season', 'TeamID'], how='left')

In [277]:
# result["p_win"] = win_team/win_team

In [279]:
# loss_team.groupby(["Season","WTeamID"]).mean().reset_index()

In [280]:
Result_w = pd.read_csv(date + "WNCAATourneyDetailedResults.csv")

In [281]:
win_team =  pd.concat([Result_w.iloc[:,0],Result_w.iloc[:,2:4],Result_w.iloc[:,21:]],axis=1)
loss_team =  pd.concat([Result_w.iloc[:,0],Result_w.iloc[:,4:6],Result_w.iloc[:,8:21]],axis=1)

In [282]:
win_result = win_team.groupby(["Season","WTeamID"]).mean().reset_index().rename(columns={"WTeamID":"TeamID"})
loss_result = loss_team.groupby(["Season","LTeamID"]).mean().reset_index().rename(columns={"LTeamID":"TeamID"})
result_w = win_result.merge(loss_result, on=['Season', 'TeamID'], how='left')

In [283]:
result_all = pd.concat([result,result_w],ignore_index=True)

In [284]:
result_all.drop(columns=["WScore","LScore"],axis=1,inplace=True)

In [285]:
team_a = result_all.merge(df_features_season, on=['Season', 'TeamID'], how='left')

In [286]:
team_a = team_a.fillna(0)

In [287]:
team_a.iloc[:,2:15]

,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,26.333333,66.666667,8.333333,23.0,11.333333,15.333333,11.0,26.666667,15.666667,15.666667,7.00,4.0,18.666667
1,25.000000,69.000000,7.000000,28.0,14.000000,21.000000,20.0,22.000000,11.000000,12.000000,2.00,5.0,18.000000
2,20.000000,54.000000,7.000000,23.5,15.500000,18.500000,13.5,22.000000,8.000000,15.000000,7.50,5.5,21.000000
3,22.000000,49.000000,8.500000,23.0,6.000000,9.000000,8.0,20.500000,11.500000,12.000000,7.00,3.0,17.000000
4,27.000000,60.000000,7.000000,17.0,12.000000,17.000000,14.0,17.000000,20.000000,21.000000,6.00,6.0,21.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,24.000000,69.000000,6.000000,31.0,19.000000,22.000000,11.0,29.000000,11.000000,8.000000,5.00,0.0,18.000000
1103,20.500000,54.000000,5.500000,15.5,12.500000,19.500000,4.5,20.500000,13.500000,14.000000,3.00,3.0,18.000000
1104,24.000000,70.500000,6.000000,24.0,12.500000,16.000000,13.0,17.000000,10.500000,13.500000,9.00,4.5,24.500000
1105,19.500000,56.000000,5.500000,20.0,13.500000,15.500000,7.0,19.500000,10.000000,13.000000,4.00,2.0,17.000000
1106,21.750000,56.750000,4.000000,17.5,10.250000,14.750000,6.0,20.500000,8.250000,12.500000,6.75,2.0,17.750000

In [288]:
team_a.iloc[:,2:15] = (-1*(np.array(team_a.iloc[:,15:28])+np.array(team_a.iloc[:,2:15])))/np.array(team_a.iloc[:,15:28].isnull()-2)

In [289]:
team_a.drop(columns=team_a.columns[15:28],inplace=True)

In [290]:
new_c_n = {}
for i in range(2,15):
    new_c_n[team_a.columns[i]] = team_a.columns[i][1:]

In [291]:
team_a = team_a.rename(columns=new_c_n)

In [292]:
# mseason = pd.read_csv(date+"MSeasons.csv")
# wseason = pd.read_csv(date+"WSeasons.csv")

In [293]:
# season = pd.concat([wseason,mseason],ignore_index=True)
# season.drop(columns=["DayZero"],inplace=True)

In [294]:
# team_a = team_a.merge(season,on=["Season"],how="left")

In [295]:
# df_features_season =  df_features_season.merge(season,on=["Season"],how="left")

In [301]:
m_seed =pd.read_csv(date + "MRegularSeasonCompactResults.csv")
w_seed  =pd.read_csv(date + "WRegularSeasonCompactResults.csv")

In [299]:
# m_seed["seed"] = 1
# w_seed["seed"] = 0
# m_seed.drop(columns=["Seed","Season"],inplace=True)
# w_seed.drop(columns=["Seed","Season"],inplace=True)

In [302]:
id = np.unique(list(m_seed["WTeamID"]) + list(m_seed["LTeamID"]))
m_seed = pd.DataFrame(np.c_[id,np.ones(len(id))],columns=["TeamID","seed"])
wid = np.unique(list(w_seed["WTeamID"]) + list(w_seed["LTeamID"]))
w_seed = pd.DataFrame(np.c_[wid,np.ones(len(wid))],columns=["TeamID","seed"])

In [303]:
team_a=team_a.merge(pd.concat([m_seed,w_seed],ignore_index=True),on=["TeamID"],how="left")

In [304]:
df_features_season =df_features_season.merge(pd.concat([m_seed,w_seed],ignore_index=True),on=["TeamID"],how="left")

In [305]:
# team_a.drop(columns=["RegionX","RegionW","RegionY","RegionZ"],inplace=True)
# df_features_season.drop(columns=["RegionX","RegionW","RegionY","RegionZ"],inplace=True)

In [336]:
# city_m = pd.read_csv(date+"MGameCities.csv")
# city_w = pd.read_csv(date+"WGameCities.csv")

In [357]:
team_a[team_a["seed"] == 1].iloc[:,:15]

,Season,TeamID,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,1112,27.666667,66.833333,8.166667,24.50,11.666667,16.666667,13.00,24.333333,15.833333,15.333333,10.000,4.50,19.333333
1,2003,1113,32.500000,64.000000,6.000000,18.50,18.500000,27.500000,16.00,25.000000,16.000000,12.500000,4.000,5.50,19.000000
2,2003,1120,24.500000,60.000000,6.000000,18.75,15.750000,19.750000,14.25,21.500000,11.000000,12.500000,8.250,6.25,19.000000
3,2003,1139,24.500000,52.000000,6.250000,16.50,6.500000,10.500000,13.50,20.250000,13.250000,12.500000,6.500,2.00,17.500000
4,2003,1141,29.500000,56.000000,8.500000,16.00,12.000000,16.500000,9.00,20.000000,17.000000,16.000000,10.500,7.50,19.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2023,3405,29.500000,72.500000,8.500000,26.50,16.000000,20.000000,13.00,33.000000,15.500000,10.000000,7.000,1.50,17.000000
1103,2023,3417,22.250000,58.500000,4.750000,15.75,9.750000,15.750000,9.25,22.250000,16.250000,11.500000,4.000,4.50,14.500000
1104,2023,3428,24.000000,64.250000,4.500000,18.50,13.750000,19.500000,11.50,19.000000,11.750000,13.250000,8.500,4.75,23.250000
1105,2023,3437,22.750000,56.500000,4.250000,15.00,14.250000,16.250000,9.50,24.250000,11.000000,15.000000,6.000,1.00,17.500000
1106,2023,3439,27.375000,63.375000,3.500000,15.25,10.125000,15.375000,10.50,19.750000,8.125000,9.750000,8.875,2.00,16.375000

In [359]:
m_date = df_features_season[df_features_season["seed"]==1].merge(team_a[team_a["seed"] == 1].iloc[:,:15],on=["Season","TeamID"],how="left")

In [388]:
m_date = m_date.fillna(0)

In [399]:
mm_date = df_features_season[df_features_season["seed"]==1].iloc[:,:4]

In [475]:
end_date = np.zeros([len(np.unique(m_date["TeamID"])),40,4])

In [476]:
id_lst = np.unique(m_date["TeamID"])
for i in range(len(id_lst)):
    mmm_date = mm_date[mm_date["TeamID"] == id_lst[i]]
    for j in range(0,40):
        dd = mmm_date[mmm_date["Season"] == j+1985]
        if not dd.empty:
           end_date[i,j] = np.array(dd)    
        else:
           end_date[i,j] = [j+1985,id_lst[i],0,0]

In [505]:
print(end_date[:-200,:,1:][:,1:].shape)
print(end_date[:-200,:,1:][:,:-1].shape)

(545, 39, 3)
(545, 39, 3)

In [578]:
lstm = nn.LSTM(3, 3, 3, batch_first=True)

In [579]:
qq,ww = lstm(x)

In [765]:
import torch
import torch.nn as nn

class LSTM(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, output_size):
        super(LSTM, self).__init__()
        
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)
    
    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        
        out, _ = self.lstm(x, (h0, c0))
        
        out = self.fc(out[:, -1, :])
        # out = self.fc(out)
        
        return out

# # 定义模型输入维度和超参数
# input_size = 3
# hidden_size = 64
# num_layers = 1
# output_size = 3

# 初始化模型
# model = LSTM(input_size, hidden_size, num_layers, output_size)

# # 打印模型结构
# print(model)

In [766]:
x = torch.tensor(end_date[:-100,:-1,2:],dtype=torch.float32)
y = torch.tensor(end_date[:-100,-1,2:],dtype=torch.float32)

In [835]:
input_size = 2
hidden_size = 64
num_layers = 2
output_size = 2
num_epochs = 150
model = LSTM(input_size, hidden_size, num_layers, output_size)
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
for epoch in range(num_epochs):
    # 定义模型输入维度和超参数
    optimizer.zero_grad()
    outputs = model(x)
    loss = criterion(outputs, y)
    loss.backward()
    optimizer.step()
    if (epoch+1) % 1 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}')

Epoch [1/150], Loss: 32.795841217041016
Epoch [2/150], Loss: 31.3453369140625
Epoch [3/150], Loss: 29.256120681762695
Epoch [4/150], Loss: 27.149829864501953
Epoch [5/150], Loss: 26.302343368530273
Epoch [6/150], Loss: 25.92909049987793
Epoch [7/150], Loss: 25.460023880004883
Epoch [8/150], Loss: 24.835159301757812
Epoch [9/150], Loss: 24.634214401245117
Epoch [10/150], Loss: 23.51064682006836
Epoch [11/150], Loss: 22.628658294677734
Epoch [12/150], Loss: 21.700397491455078
Epoch [13/150], Loss: 21.00874900817871
Epoch [14/150], Loss: 20.524200439453125
Epoch [15/150], Loss: 20.029827117919922
Epoch [16/150], Loss: 19.458709716796875
Epoch [17/150], Loss: 18.951875686645508
Epoch [18/150], Loss: 18.59408950805664
Epoch [19/150], Loss: 18.375871658325195
Epoch [20/150], Loss: 18.326784133911133
Epoch [21/150], Loss: 18.250577926635742
Epoch [22/150], Loss: 18.06178092956543
Epoch [23/150], Loss: 17.82497215270996
Epoch [24/150], Loss: 17.691242218017578
Epoch [25/150], Loss: 17.565296173095703
Epoch [26/150], Loss: 17.331266403198242
Epoch [27/150], Loss: 17.138761520385742
Epoch [28/150], Loss: 17.00223159790039
Epoch [29/150], Loss: 16.805641174316406
Epoch [30/150], Loss: 16.648059844970703
Epoch [31/150], Loss: 16.46087646484375
Epoch [32/150], Loss: 16.27341651916504
Epoch [33/150], Loss: 16.08932113647461
Epoch [34/150], Loss: 15.944925308227539
Epoch [35/150], Loss: 15.702789306640625
Epoch [36/150], Loss: 15.527480125427246
Epoch [37/150], Loss: 15.276442527770996
Epoch [38/150], Loss: 15.109081268310547
Epoch [39/150], Loss: 14.856380462646484
Epoch [40/150], Loss: 14.591324806213379
Epoch [41/150], Loss: 14.403655052185059
Epoch [42/150], Loss: 14.13564682006836
Epoch [43/150], Loss: 13.99864387512207
Epoch [44/150], Loss: 13.533781051635742
Epoch [45/150], Loss: 13.251420021057129
Epoch [46/150], Loss: 12.982664108276367
Epoch [47/150], Loss: 12.748289108276367
Epoch [48/150], Loss: 12.353257179260254
Epoch [49/150], Loss: 11.977121353149414
Epoch [50/150], Loss: 11.64006519317627
Epoch [51/150], Loss: 11.246358871459961
Epoch [52/150], Loss: 11.024602890014648
Epoch [53/150], Loss: 10.67105770111084
Epoch [54/150], Loss: 10.597296714782715
Epoch [55/150], Loss: 9.975852012634277
Epoch [56/150], Loss: 9.944076538085938
Epoch [57/150], Loss: 9.154350280761719
Epoch [58/150], Loss: 8.968586921691895
Epoch [59/150], Loss: 8.584526062011719
Epoch [60/150], Loss: 8.461974143981934
Epoch [61/150], Loss: 8.189830780029297
Epoch [62/150], Loss: 8.22066879272461
Epoch [63/150], Loss: 7.705472469329834
Epoch [64/150], Loss: 7.17650032043457
Epoch [65/150], Loss: 7.077042579650879
Epoch [66/150], Loss: 6.558365345001221
Epoch [67/150], Loss: 6.1824493408203125
Epoch [68/150], Loss: 5.898756504058838
Epoch [69/150], Loss: 5.38076114654541
Epoch [70/150], Loss: 5.130249500274658
Epoch [71/150], Loss: 4.839995384216309
Epoch [72/150], Loss: 4.479216575622559
Epoch [73/150], Loss: 4.280413627624512
Epoch [74/150], Loss: 4.103997707366943
Epoch [75/150], Loss: 3.9215540885925293
Epoch [76/150], Loss: 3.6120340824127197
Epoch [77/150], Loss: 3.9512832164764404
Epoch [78/150], Loss: 3.525397777557373
Epoch [79/150], Loss: 3.557542324066162
Epoch [80/150], Loss: 3.1329946517944336
Epoch [81/150], Loss: 2.9162545204162598
Epoch [82/150], Loss: 2.7652525901794434
Epoch [83/150], Loss: 2.585322141647339
Epoch [84/150], Loss: 2.458804130554199
Epoch [85/150], Loss: 2.381495237350464
Epoch [86/150], Loss: 2.158677101135254
Epoch [87/150], Loss: 2.035130500793457
Epoch [88/150], Loss: 1.9094096422195435
Epoch [89/150], Loss: 1.7576218843460083
Epoch [90/150], Loss: 1.649520993232727
Epoch [91/150], Loss: 1.4563063383102417
Epoch [92/150], Loss: 1.3829834461212158
Epoch [93/150], Loss: 1.3273698091506958
Epoch [94/150], Loss: 1.3680270910263062
Epoch [95/150], Loss: 1.235778570175171
Epoch [96/150], Loss: 1.0810929536819458
Epoch [97/150], Loss: 1.0511829853057861
Epoch [98/150], Loss: 0.9889743328094482
Epoch [99/150], Loss: 0.9109979867935181
Epoch [100/150], Loss: 0.8809921145439148
Epoch [101/150], Loss: 0.7772809267044067
Epoch [102/150], Loss: 0.745919942855835
Epoch [103/150], Loss: 0.7161200046539307
Epoch [104/150], Loss: 0.6329018473625183
Epoch [105/150], Loss: 0.5766095519065857
Epoch [106/150], Loss: 0.5473296046257019
Epoch [107/150], Loss: 0.49885547161102295
Epoch [108/150], Loss: 0.49123629927635193
Epoch [109/150], Loss: 0.45601749420166016
Epoch [110/150], Loss: 0.41535645723342896
Epoch [111/150], Loss: 0.39473390579223633
Epoch [112/150], Loss: 0.37446945905685425
Epoch [113/150], Loss: 0.3536221385002136
Epoch [114/150], Loss: 0.3483903408050537
Epoch [115/150], Loss: 0.3158448338508606
Epoch [116/150], Loss: 0.30886730551719666
Epoch [117/150], Loss: 0.29039642214775085
Epoch [118/150], Loss: 0.27183496952056885
Epoch [119/150], Loss: 0.26448431611061096
Epoch [120/150], Loss: 0.24795769155025482
Epoch [121/150], Loss: 0.2553148567676544
Epoch [122/150], Loss: 0.24941955506801605
Epoch [123/150], Loss: 0.23918426036834717
Epoch [124/150], Loss: 0.2244909405708313
Epoch [125/150], Loss: 0.21356278657913208
Epoch [126/150], Loss: 0.20519959926605225
Epoch [127/150], Loss: 0.19616183638572693
Epoch [128/150], Loss: 0.19208401441574097
Epoch [129/150], Loss: 0.1846512407064438
Epoch [130/150], Loss: 0.1749923974275589
Epoch [131/150], Loss: 0.17069970071315765
Epoch [132/150], Loss: 0.16370095312595367
Epoch [133/150], Loss: 0.15806683897972107
Epoch [134/150], Loss: 0.15213672816753387
Epoch [135/150], Loss: 0.14709709584712982
Epoch [136/150], Loss: 0.14299756288528442
Epoch [137/150], Loss: 0.13885259628295898
Epoch [138/150], Loss: 0.13417962193489075
Epoch [139/150], Loss: 0.13067908585071564
Epoch [140/150], Loss: 0.12705828249454498
Epoch [141/150], Loss: 0.12455685436725616
Epoch [142/150], Loss: 0.12045395374298096
Epoch [143/150], Loss: 0.11685405671596527
Epoch [144/150], Loss: 0.11411243677139282
Epoch [145/150], Loss: 0.11134736984968185
Epoch [146/150], Loss: 0.1088336929678917
Epoch [147/150], Loss: 0.10620155930519104
Epoch [148/150], Loss: 0.10354781895875931
Epoch [149/150], Loss: 0.1010851114988327
Epoch [150/150], Loss: 0.09896057099103928

In [836]:
num_epochs = 200
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
for epoch in range(num_epochs):
    # 定义模型输入维度和超参数
    optimizer.zero_grad()
    outputs = model(x)
    loss = criterion(outputs, y)
    loss.backward()
    optimizer.step()
    if (epoch+1) % 1 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item()}')

Epoch [1/200], Loss: 0.09687228500843048
Epoch [2/200], Loss: 0.4266519248485565
Epoch [3/200], Loss: 0.14734989404678345
Epoch [4/200], Loss: 0.24028414487838745
Epoch [5/200], Loss: 0.24423450231552124
Epoch [6/200], Loss: 0.19899876415729523
Epoch [7/200], Loss: 0.16809187829494476
Epoch [8/200], Loss: 0.15143106877803802
Epoch [9/200], Loss: 0.15027371048927307
Epoch [10/200], Loss: 0.15487754344940186
Epoch [11/200], Loss: 0.1536681354045868
Epoch [12/200], Loss: 0.14402823150157928
Epoch [13/200], Loss: 0.13080912828445435
Epoch [14/200], Loss: 0.1226370558142662
Epoch [15/200], Loss: 0.1189068928360939
Epoch [16/200], Loss: 0.1183086410164833
Epoch [17/200], Loss: 0.1192917674779892
Epoch [18/200], Loss: 0.11953405290842056
Epoch [19/200], Loss: 0.11694175004959106
Epoch [20/200], Loss: 0.11165381222963333
Epoch [21/200], Loss: 0.10613365471363068
Epoch [22/200], Loss: 0.10303519666194916
Epoch [23/200], Loss: 0.10293351858854294
Epoch [24/200], Loss: 0.10353139042854309
Epoch [25/200], Loss: 0.10214978456497192
Epoch [26/200], Loss: 0.09898680448532104
Epoch [27/200], Loss: 0.09644617885351181
Epoch [28/200], Loss: 0.09561306238174438
Epoch [29/200], Loss: 0.09551873058080673
Epoch [30/200], Loss: 0.09505439549684525
Epoch [31/200], Loss: 0.09366714954376221
Epoch [32/200], Loss: 0.09167943894863129
Epoch [33/200], Loss: 0.09008926898241043
Epoch [34/200], Loss: 0.08948511630296707
Epoch [35/200], Loss: 0.08948758989572525
Epoch [36/200], Loss: 0.0892435759305954
Epoch [37/200], Loss: 0.0883679986000061
Epoch [38/200], Loss: 0.08707677572965622
Epoch [39/200], Loss: 0.0858655571937561
Epoch [40/200], Loss: 0.08518140017986298
Epoch [41/200], Loss: 0.08488575369119644
Epoch [42/200], Loss: 0.0845097005367279
Epoch [43/200], Loss: 0.0839729756116867
Epoch [44/200], Loss: 0.08341620117425919
Epoch [45/200], Loss: 0.08275554329156876
Epoch [46/200], Loss: 0.08202102035284042
Epoch [47/200], Loss: 0.08141320198774338
Epoch [48/200], Loss: 0.08095121383666992
Epoch [49/200], Loss: 0.08053413033485413
Epoch [50/200], Loss: 0.08009506016969681
Epoch [51/200], Loss: 0.07957686483860016
Epoch [52/200], Loss: 0.07907550781965256
Epoch [53/200], Loss: 0.07868535816669464
Epoch [54/200], Loss: 0.07825850695371628
Epoch [55/200], Loss: 0.07776318490505219
Epoch [56/200], Loss: 0.07731115072965622
Epoch [57/200], Loss: 0.07689488679170609
Epoch [58/200], Loss: 0.07647284120321274
Epoch [59/200], Loss: 0.07601828873157501
Epoch [60/200], Loss: 0.07556174695491791
Epoch [61/200], Loss: 0.07519305497407913
Epoch [62/200], Loss: 0.07486747205257416
Epoch [63/200], Loss: 0.0744691863656044
Epoch [64/200], Loss: 0.07401826977729797
Epoch [65/200], Loss: 0.0735817700624466
Epoch [66/200], Loss: 0.07320163398981094
Epoch [67/200], Loss: 0.07286659628152847
Epoch [68/200], Loss: 0.07250619679689407
Epoch [69/200], Loss: 0.07210960239171982
Epoch [70/200], Loss: 0.07171130180358887
Epoch [71/200], Loss: 0.07132553309202194
Epoch [72/200], Loss: 0.07097021490335464
Epoch [73/200], Loss: 0.07062660157680511
Epoch [74/200], Loss: 0.07027100771665573
Epoch [75/200], Loss: 0.0699014738202095
Epoch [76/200], Loss: 0.06953123956918716
Epoch [77/200], Loss: 0.06918514519929886
Epoch [78/200], Loss: 0.06884689629077911
Epoch [79/200], Loss: 0.06849568337202072
Epoch [80/200], Loss: 0.068140409886837
Epoch [81/200], Loss: 0.06779848039150238
Epoch [82/200], Loss: 0.06746804714202881
Epoch [83/200], Loss: 0.06713076680898666
Epoch [84/200], Loss: 0.06679024547338486
Epoch [85/200], Loss: 0.0664583072066307
Epoch [86/200], Loss: 0.0661347433924675
Epoch [87/200], Loss: 0.0658082664012909
Epoch [88/200], Loss: 0.06548081338405609
Epoch [89/200], Loss: 0.06515780836343765
Epoch [90/200], Loss: 0.06483916938304901
Epoch [91/200], Loss: 0.0645260214805603
Epoch [92/200], Loss: 0.06421400606632233
Epoch [93/200], Loss: 0.06390028446912766
Epoch [94/200], Loss: 0.06358583271503448
Epoch [95/200], Loss: 0.06327881664037704
Epoch [96/200], Loss: 0.06297699362039566
Epoch [97/200], Loss: 0.0626746267080307
Epoch [98/200], Loss: 0.06237112358212471
Epoch [99/200], Loss: 0.06207006797194481
Epoch [100/200], Loss: 0.06177256256341934
Epoch [101/200], Loss: 0.06147690862417221
Epoch [102/200], Loss: 0.06118174269795418
Epoch [103/200], Loss: 0.06088792532682419
Epoch [104/200], Loss: 0.06059624254703522
Epoch [105/200], Loss: 0.060306206345558167
Epoch [106/200], Loss: 0.060016755014657974
Epoch [107/200], Loss: 0.05972867086529732
Epoch [108/200], Loss: 0.059442196041345596
Epoch [109/200], Loss: 0.059156764298677444
Epoch [110/200], Loss: 0.05887243151664734
Epoch [111/200], Loss: 0.05858949199318886
Epoch [112/200], Loss: 0.05830755829811096
Epoch [113/200], Loss: 0.058026447892189026
Epoch [114/200], Loss: 0.057746414095163345
Epoch [115/200], Loss: 0.05746721476316452
Epoch [116/200], Loss: 0.05718882381916046
Epoch [117/200], Loss: 0.0569116584956646
Epoch [118/200], Loss: 0.05663515254855156
Epoch [119/200], Loss: 0.056359171867370605
Epoch [120/200], Loss: 0.05608392879366875
Epoch [121/200], Loss: 0.05580941215157509
Epoch [122/200], Loss: 0.05553523823618889
Epoch [123/200], Loss: 0.055261578410863876
Epoch [124/200], Loss: 0.054988451302051544
Epoch [125/200], Loss: 0.054715532809495926
Epoch [126/200], Loss: 0.05444273725152016
Epoch [127/200], Loss: 0.054170090705156326
Epoch [128/200], Loss: 0.05389752238988876
Epoch [129/200], Loss: 0.05362488329410553
Epoch [130/200], Loss: 0.05335202068090439
Epoch [131/200], Loss: 0.053078752011060715
Epoch [132/200], Loss: 0.05280505493283272
Epoch [133/200], Loss: 0.05253085866570473
Epoch [134/200], Loss: 0.052255917340517044
Epoch [135/200], Loss: 0.05198005214333534
Epoch [136/200], Loss: 0.051703210920095444
Epoch [137/200], Loss: 0.051425252109766006
Epoch [138/200], Loss: 0.051146000623703
Epoch [139/200], Loss: 0.050865255296230316
Epoch [140/200], Loss: 0.05058295652270317
Epoch [141/200], Loss: 0.05029892548918724
Epoch [142/200], Loss: 0.05001303553581238
Epoch [143/200], Loss: 0.04972513020038605
Epoch [144/200], Loss: 0.04943511635065079
Epoch [145/200], Loss: 0.049142833799123764
Epoch [146/200], Loss: 0.0488482341170311
Epoch [147/200], Loss: 0.048551175743341446
Epoch [148/200], Loss: 0.048251599073410034
Epoch [149/200], Loss: 0.04794944450259209
Epoch [150/200], Loss: 0.04764464870095253
Epoch [151/200], Loss: 0.04733719304203987
Epoch [152/200], Loss: 0.047027066349983215
Epoch [153/200], Loss: 0.04671425744891167
Epoch [154/200], Loss: 0.04639880731701851
Epoch [155/200], Loss: 0.04608078673481941
Epoch [156/200], Loss: 0.04576021060347557
Epoch [157/200], Loss: 0.045437224209308624
Epoch [158/200], Loss: 0.045111920684576035
Epoch [159/200], Loss: 0.04478440806269646
Epoch [160/200], Loss: 0.04445485398173332
Epoch [161/200], Loss: 0.044123440980911255
Epoch [162/200], Loss: 0.043790336698293686
Epoch [163/200], Loss: 0.04345579445362091
Epoch [164/200], Loss: 0.043120019137859344
Epoch [165/200], Loss: 0.04278327524662018
Epoch [166/200], Loss: 0.04244581237435341
Epoch [167/200], Loss: 0.04210798069834709
Epoch [168/200], Loss: 0.0417700856924057
Epoch [169/200], Loss: 0.04143247753381729
Epoch [170/200], Loss: 0.0410955473780632
Epoch [171/200], Loss: 0.040759649127721786
Epoch [172/200], Loss: 0.04042523354291916
Epoch [173/200], Loss: 0.04009274020791054
Epoch [174/200], Loss: 0.039762575179338455
Epoch [175/200], Loss: 0.03943523392081261
Epoch [176/200], Loss: 0.039111144840717316
Epoch [177/200], Loss: 0.038790781050920486
Epoch [178/200], Loss: 0.03847455605864525
Epoch [179/200], Loss: 0.03816291317343712
Epoch [180/200], Loss: 0.03785625472664833
Epoch [181/200], Loss: 0.03755495324730873
Epoch [182/200], Loss: 0.03725935146212578
Epoch [183/200], Loss: 0.03696971386671066
Epoch [184/200], Loss: 0.03668632730841637
Epoch [185/200], Loss: 0.03640935942530632
Epoch [186/200], Loss: 0.03613898530602455
Epoch [187/200], Loss: 0.035875316709280014
Epoch [188/200], Loss: 0.035618413239717484
Epoch [189/200], Loss: 0.035368289798498154
Epoch [190/200], Loss: 0.03512490168213844
Epoch [191/200], Loss: 0.03488821163773537
Epoch [192/200], Loss: 0.034658096730709076
Epoch [193/200], Loss: 0.0344344787299633
Epoch [194/200], Loss: 0.03421716019511223
Epoch [195/200], Loss: 0.03400598093867302
Epoch [196/200], Loss: 0.033800773322582245
Epoch [197/200], Loss: 0.03360133245587349
Epoch [198/200], Loss: 0.033407457172870636
Epoch [199/200], Loss: 0.03321892023086548
Epoch [200/200], Loss: 0.0330355204641819

In [837]:
# # # 使用模型进行预测
model.eval()
X_test = torch.tensor(end_date[-100:,:-1,2:], dtype=torch.float32)
predictions = model(X_test)

In [838]:
((predictions - torch.tensor(end_date[-100:,-1,2:], dtype=torch.float32))**2).mean()

tensor(37.0198, grad_fn=<MeanBackward0>)

In [839]:
end_date[5,-1,2:]

array([ 0.38095238, -5.71428571])

In [834]:
predictions[5]

tensor([0.3872, 0.8090], grad_fn=<SelectBackward0>)

In [1]:
t1 = {1:222,2:333,3:444}

dict_values([222, 333, 444])